:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  background: url("../media/logo.png") center center no-repeat;
  width: 200px;
  height: 90px;
}

.navbar {
  border-bottom: 1px solid white;
}

.base-container {
  padding-top: 100px;
}

.navbar-collapse {
  flex-grow: 0;
}

.row {
  justify-content: space-around;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.btn-largest {
  padding: 24px 50px;
  font-size: 36px;
}

.centered-element {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fixed-bottom-element {
  position: fixed;
  width: inherit;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-table {
  margin: 0 auto;
}

.table-header {
  font-size: 32px;
  text-align: end;
  padding-right: 5px;
}

.table-text {
  font-size: 32px;
  text-align: start;
}

.table-text_translate {
  color: orange;
}

.table-text_answer {
  color: white;
}

.table-text_correct-answer {
  color: green;
}

@media screen and (max-width: 768px) {
  .table-header {
    font-size: 24px;
  }
  
  .table-text {
    font-size: 24px;
  }

  .form-control {
    width: 309px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .table-header {
    font-size: 18px;
  }
  
  .table-text {
    font-size: 18px;
  }

  .logo {
    width: 150px;
    height: 60px;
    background-size: cover;
  }
}