$this: '.footer';

#{$this} {
    font-size: 14px;
    font-weight: 700;
    color: #73738D;
    padding: 4px 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
    &-link {
        color: #73738D;
    }
}
