{% extends 'base.html' %}

{% block title %}
LangFlowHome
{% endblock %}

{% block central_pic %}
<a href="https://www.qries.com/">
   <img alt="Qries" src="https://github.com/AlexKay28/langflow/blob/main/media/logo.png?raw=true" width="300" height="300">
</a>
<h5>main page answer</h5>
{% endblock %}

{% block body %}
  <h2>Translate: {{first_language_phrase}}</h2>
  <h2>Answer: {{second_language_phrase_answer}}</h2>
  <h2>Correct answer: {{second_language_phrase}}</h2>

  <form method="get">
    <input type="submit" class="btn btn-success" value="next">
  </form>
{% endblock %}
