{% extends 'base.html' %}

{% block title %}
LangFlowHome
{% endblock %}

{% block central_pic %}
<a href="https://www.qries.com/">
   <img alt="Qries" src="https://github.com/AlexKay28/langflow/blob/main/media/logo.png?raw=true" width="300" height="300">
</a>
<h5>main page</h5>
{% endblock %}

{% block body %}
  <h1>Let's make practice!</h1>

  <h2>Translate: {{first_language}}</h2>
  <form action="/practice" method="post">
    <input type="string" name="second_language_answer", id="second_language_answer">
  </form>
  <h2>Answer: {{second_language_answer}}</h2>
  <h2>Correct answer: {{second_language}}</h2>
{% endblock %}
