{% extends 'base.html' %}

{% block body %}
<div class="centered-element w-100">
  <table class="custom-table text-white-50">
    <tbody>
      <tr>
        <td class="table-header">Translate:</td>
        <td class="table-text table-text_translate">{{first_language_phrase}}</td>
      </tr>
      <tr></tr>
        <td class="table-header ">Answer:</td>
        <td class="table-text table-text_answer">{{second_language_phrase_answer}}</td>
      </tr>
      <tr>
        <td class="table-header">Correct answer:</td>
        <td class="table-text table-text_correct-answer">{{second_language_phrase}}</td>
      </tr>
    </tbody>
  </table>

  <form method="get">
    <button class="btn btn-success btn-lg" value="Next"  id="next_button" >Next</button>
  </form>
</div>

<footer class="pb-4 text-white-50 fixed-bottom-element">
  <p>Service created by <a href="https://github.com/AlexKay28" class="text-white">AlexKay</a> and <a href="https://github.com/Alkhimovmv" class="text-white">AlkhimovMV</a>.</p>
</footer>
{% endblock %}
