{% extends 'base.html' %}

{% block body %}
<div class="centered-element">
  <h2>Translate: {{first_language_phrase}}</h2>
  <form action="/practice" method="post">
    <input type="string" name="second_language_phrase_answer" class="form-control" placeholder="Enter text" autocomplete="off">
  </form>
</div>
<footer class="pb-4 text-white-50 fixed-bottom-element">
  <p>Service created by <a href="https://github.com/AlexKay28" class="text-white">AlexKay</a> and <a href="https://github.com/Alkhimovmv" class="text-white">AlkhimovMV</a>.</p>
</footer>
{% endblock %}
